html, body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background-color: #ff550d;

  font-family:  'Droid Serif','Yanone Kaffeesatz', sans-serif, 'Verdana';
  background-image: url('../img/fondo_principal.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat-x;
}
h1, h2, h3 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 500;
}
h2 {
  font-size: 3.0 em;
  color: rgb(48, 14, 131);
}
#TiPr {
  font-size: 5 em;
  color: rgb(32, 249, 13);
}
p, ul {
  margin-top: 0;
}
dt {
  font-weight: bold;
  color: rgba(191, 238, 4, 0.72);
}
p {
  line-height: 180%;
}
strong, a {
  color: #2c2c2c;
}
a:hover {
  text-decoration: none;
}
#contenido {
  width: 95%;
  /*background-color: #178701;
  border-style: groove; border-width: 4px;
  border-radius:5px;*/
  margin: 0 auto;
}
header {
  height: 115px;
  background-color: rgb(255, 85, 13);
  background-image: url(../img/ancobo.png);
  background-size: 400px;
  background-position: left;
  background-repeat: no-repeat;
  padding-bottom: 23px;
  font-family: 'Droid Serif';
font-style: normal;
font-weight: 400;
src: local('Droid Serif'), local('DroidSerif'), url(http://fonts.gstatic.com/s/droidserif/v6/0AKsP294HTD-nvJgucYTaI4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;



}
#Titulo {
  text-decoration: none;
  margin: 0 0 0 170px;
  position: relative;
  top: 100px;
  border: none;
}
header a:hover {
  border-radius: 5px;
  border-top: 2px solid #e6480a;
  border-left: 2px solid #e6480a;
  border-right: 2px solid #e6480a;
  border-bottom: 2px solid #e6480a;
}
nav {
  float: right;
  width: 70%;
  margin-left: 40px;
}
nav ul {
  list-style: none;
  width: auto;
  margin: 70px 0 0 80px;
}
nav li {
  display: inline;
}
nav a {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 5px;
  padding: 10px 3px 10px;
  text-decoration: none;
  color: #fff;
  background-color: #14e2aa;
  border-top: 2px solid #14e2aa;
  border-left: 2px solid #14e2aa;
  border-right: 2px solid #14e2aa;
  border-bottom: 2px solid #14e2aa;
  border-radius: 8px;
}
#SecPr {
  width: 95%;
  height: auto;
  margin: 10px, 50px;
  padding-top: 40px;
  overflow: hidden;
}
#ArtPr {
  float: left;
  width: 75%;
  background: rgba(199, 169, 207, 0.44);
  font-size: 45px;
  color: rgb(0, 255, 232);
}
aside {
  float: right;
  width: 300px;
}
#ContEx {
  margin: 0 15px;
  padding: 0 3px 20px;
  width: 20%;
  text-decoration: none;
  color: #fff;
  border-radius: 8px;
  background-size: 350px;
  background-position: 10%;
  background-repeat: no-repeat;
}
#ContEx ul a {
  background-color: rgba(135, 59, 9, 0.78);
  text-decoration: none;
  color: rgb(243, 181, 81);
  border-radius: 8px;
}
#SecOtr {
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 95%;
  margin: 10px 30px;
}
#SecOtr ul {
  padding-right: 30px;
}
#SecOtr h1{
  font-size: 3em;
}
#ArtOne {
  float: left;
  width: 30%;
  background-color: rgba(15, 194, 183, 0.72);
  border: 2px dotted #b64426;
  border-radius: 8px;
}
#ArtTwo {
  float: left;
  width: 30%;
  background-color: rgba(15, 194, 183, 0.72);
  border: 2px dotted #b64426;
  border-radius: 8px;
  margin-left: 50px;
}
#ArtThr {
  float: right;
  width: 30%;
  background-color: rgba(15, 194, 183, 0.72);
  border: 2px dotted #b64426;
  border-radius: 8px;
}
footer {
  margin: 0 50px;
  padding: 30px 0;
  border-top: 5px solid #000;
}
footer p {
  text-align: center;
  color: #fff;
}
.elevator-button{
  padding-left: 50%;
}
